<footer class="bg-gray-800 text-white py-2 mt-auto" role="contentinfo">
    <div class="container mx-auto px-4 text-center text-sm">
        <p>&copy; 2025 FinEs Mapa Interactivo. Todos los derechos reservados.</p>
        {% comment %}
        <ul class="flex justify-center space-x-4 mt-2">
            <li><a href="{% url 'privacy_policy' %}"
                    class="hover:underline focus:outline-none focus:ring-2 focus:ring-white">Política de Privacidad</a>
            </li>
            <li><a href="{% url 'accessibility_policy' %}"
                    class="hover:underline focus:outline-none focus:ring-2 focus:ring-white">Política de
                    Accesibilidad</a></li>
            <li><a href="{% url 'contact' %}"
                    class="hover:underline focus:outline-none focus:ring-2 focus:ring-white">Contacto</a></li>
        </ul>
        {% endcomment %}
    </div>
</footer>